* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  text-size-adjust: 100%;
  font-size: calc(1rem);
  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-size-sm: 0.8125rem;
  --font-size-md: 0.875rem;
  --font-size-lg: 0.9375rem;
  --font-size-xl: 1rem;
  --font-size-2xl: 1.0625rem;
  --white: #fff;
  --white-opaque: #ffffffb3;
  --gray-dark: #00000066;
  --gray: #00000099;
  --light-gray: #f5f5f5;
  --black: #000;
  --slate-extra-light: #e9eef3;
  --slate-dark: #4c5a67;
  --slate-extra-dark: #252c32;
  --blue: #076bc9;
  --blue-active: #054a8a;
  --blue-light: #71baff;
}

body {
  margin: 0;
  font-size: calc(var(--font-size-md));
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  color: var(--black);
  background-color: var(--light-gray);
}
.btn {
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid transparent;
  min-height: 32px;
  min-width: 32px;
  border-radius: calc(4999.5rem);
  padding: 0 1rem;
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: all calc(0.125s) cubic-bezier(0.4, 0.6, 0.1, 1) 0s;
}
.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}
.btn-primary:active,
.btn-primary:hover {
  background-color: var(--blue-active);
}
.btn-cancel {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}
.btn-cancel:active,
.btn-cancel:hover {
  background-color: var(--slate-extra-light);
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  box-shadow: rgb(0 0 0 / 20%) 0px 0.125rem 0.5rem;
  padding: 4rem;
  border-radius: 1rem;
  width: 36rem;
  height: 24rem;
  margin-top: -7rem;
}
.login-title {
  font-size: var(--font-size-md);
  font-weight: var(--font-semi-bold);
  text-align: center;
  margin: 1rem 0 0;
}
.dashboard-container {
  display: flex;
}
nav {
  background-color: rgb(37, 44, 50);
  width: 4rem;
  height: calc(100vh - 0rem);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-logo {
  background-color: var(--white);
  padding: 14px 6px;
}
.mobile-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.nav_list {
  list-style: none;
  width: 100%;
}
.nav_list .nav-link {
  padding: 10px 0;
  display: block;
}
.nav_list .nav-link:hover,
.exit-btn:hover {
  background-color: #ffffff0d;
}
.nav_list li.active > .nav-link {
  background-color: var(--gray-dark);
}
.nav_list li svg,
.mobile-menu svg {
  width: 18px;
  height: auto;
  display: block;
  margin: 0 auto;
  fill: var(--white-opaque);
}
.nav_list li.active svg {
  fill: var(--blue-light);
}
nav .exit-btn {
  background-color: transparent;
  border: none;
  margin-top: auto;
  width: 100%;
  padding: 10px 0 14px;
}
nav .exit-btn svg {
  height: auto;
  margin: 0 auto;
  width: 22px;
  display: block;
  fill: var(--white-opaque);
}
main {
  background-color: rgb(233, 238, 243);
  min-height: calc(100vh - 0rem);
  flex-grow: 2;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container img {
  width: 170px;
}
.logo-container span {
  font-size: 28px;
  margin-top: -4px;
  font-weight: 300;
  color: #1f2555;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.form h3 {
  font-weight: var(--font-bold);
  font-size: calc(var(--font-size-2xl));

  margin-top: 1rem;
}
.login-form h3 {
  text-align: center;
}
label {
  font-size: calc(var(--font-size-sm));
  color: var(--gray);
  font-weight: 600;
  margin-bottom: calc(0.125rem);
}

.form-input {
  height: 2rem;
  min-height: 32px;
  padding: 0 0.5rem;
  border-radius: calc(0.25rem);
  border: 1px solid aliceblue;
}
#confID {
  width: 170px;
}
.form-input:focus {
  border-color: transparent;
  box-shadow: rgb(0 118 209 / 30%) 0px 0px 0px 0.125rem;
  outline: none;
}
.form-control {
  display: flex;
  flex-direction: column;
}

.login-form .login-btn {
  align-self: end;
}
.page-container {
  padding: 1.5rem;
}
.page-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.page-header > .icon-bg {
  background-color: var(--blue);
  border-radius: 6px;
  padding: 6px 7px;
}
.page-header svg {
  width: 18px;
  height: auto;
  fill: var(--white);
  display: block;
}

.page-header h2 {
  font-size: var(--font-size-2xl);
}
section {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
}
section h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-semi-bold);
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 1rem;
  margin-bottom: 1.4rem;
}

.text-btn-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  justify-content: space-between;
}
.text-btn-wrap .btn,
a.email {
  text-decoration: none;
  line-height: 1.8rem;
}
a.email {
  display: inline-block;
}
.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.email-btn-wrapper {
  justify-content: end;
}
section.msg-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
section.msg-container svg {
  height: 18px;
  width: auto;
}
.error svg {
  fill: red;
}
.success svg {
  fill: green;
}

#conf-id-form {
  display: flex;
  align-items: end;
  gap: 1rem;
  margin-bottom: 2rem;
}
#conf-id-form section.error {
  padding-bottom: 0.5rem;
}
table,
th,
td {
  border: 1px solid var(--light-gray);
}
table th {
  font-weight: var(--font-semi-bold);
  background-color: var(--light-gray);
}
#attendee-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
#attendee-table a {
  color: var(--blue);
}
#attendee-table th,
#attendee-table td {
  padding: 0.5rem;
  font-size: var(--font-size-sm);
}
aside {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.nav_list_mobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 2rem;
}
.close-mobile-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
aside .exit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
aside .exit-btn:hover {
  background-color: transparent;
}
.nav_list_mobile li a,
aside .exit-btn {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  font-size: var(--font-size-lg);
  gap: 1rem;
  cursor: pointer;
}
.nav_list_mobile li a:hover,
aside .exit-btn:hover,
.close-mobile-btn:hover {
  color: var(--blue-light);
}
.nav_list_mobile li svg,
.close-mobile-btn svg {
  fill: var(--white);
  height: 1.5rem;
  width: auto;
  display: block;
}
@media screen and (min-width: 1080px) {
  section {
    max-width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }
  nav {
    height: 4rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .nav-logo {
    height: 100%;
    width: auto;
    padding: 24px;
    background: var(--white);
  }
  .mobile-menu {
    display: flex;
    margin-right: 20px;
  }
  .nav_list,
  nav .exit-btn {
    display: none;
  }
  .login-form-wrapper {
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}
